$size-threeshold: 768px;

.aside-nav {
	min-height: 0;

	@media screen and (min-width: $size-threeshold) {
		
		min-height: calc(100vh - 5rem);
	}

	background: rgba(255,255,255, 0.125);
	backdrop-filter: blur(4px);
}